<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comments for Post</title>
</head>
<body>
  <h1>Comments for Post</h1>
  <ul>
    <% comments.forEach(comment => { %>
      <li><%= comment.content %> - <em><%= comment.User.username %></em></li>
    <% }); %>
  </ul>
</body>
</html>